@import '../../themes/theme.scss';

.Axis {
    border-bottom: 3px solid themes(secondaryDarkest);
    border-left: 3px solid themes(secondaryDarkest);
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
}