//to do
//add emphasis buttons (1 -4 ) and prop
// add color styles : primary, danger, warning, info and success
// add states: primary, disabled, hover, focused, pressed

@import '../../themes/theme.scss';

@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-family: BlinkMacSystemFont,
     -apple-system,
     'Segoe UI',
     Roboto,
     Helvetica,
     Arial,
     sans-serif;
}

$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

$mediumDuration: .3s !default;

@mixin grow {
   // @include hacks();
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-property, transform);
    &:hover,
    &:focus,
    &:active {
        @include prefixed(transform, scale(1.1));
    }
}

@mixin prefixed($property, $value) {
    @if $webkit==true {
        -webkit-#{$property}: #{$value};
    }

    @if $moz==true {
        -moz-#{$property}: #{$value};
    }

    @if $ms==true {
        -ms-#{$property}: #{$value};
    }

    @if $o==true {
        -o-#{$property}: #{$value};
    }

    #{$property}: #{$value};
}

.Button {
    @include button-reset;
    @include grow;
    min-width: 64px;
    background-color: themes(primaryDarkest); //default
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 8px;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: themes(primaryLightest);
    height: 40px;


    //states
    &:active{
        transform: translateY(1px);
        filter: saturate(150%);
    }

    &:hover{
        color: themes(primaryDarkest);
        border-color: transparent;
        background-color: themes(primaryLight);
         box-shadow: 0 0 0 3px theme(boxShadow),
         0 0 0 1.5px theme(boxShadow);
    }

    &:focus{
        outline: none;
        box-shadow: 0 0 0 3px theme(boxShadow),
        0 0 0 1.5px theme(boxShadow);
    }




    outline: none;

    &::-moz-focus-inner {
        border: none;
    }
}

.LightButton {
    background-color: themes(primaryLightest);
    border-color: themes(primaryDarkest);
    color: themes(primaryDarkest) ;

    &:hover {
        color: themes(primaryLightest);
        border-color: transparent;
        background-color: themes(primaryDark);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px #fff,
            0 0 0 1.5px #fff;
    }


    outline: none;

    &::-moz-focus-inner {
        border: none;
    }

}