

$themes: (
charcoal: #36454F,
primaryColor: #A3C6C4,
backgroundColor: #E0E7E9,
darkBackgroundColor: #354649,
textColor: #354649,
buttonTextColor: #6C7A89,
buttonTextTransform: none,
buttonTextHoverColor: #E0E7E9,
darkButtonTextHoverColor: #354649,
buttonColor: #A3C6C4,
darkButtonColor: #36454F,
buttonBorder: 2px solid #fff,
buttonHoverColor: #6C7A89,
boxShadow: "rgba(163, 198, 196) 0.5)",
fontFamily: #{BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif},
fontWeight: 600,
fontSize: 10px,

//  dark: (backgroundColor: #222,
//  textColor: #ddd,
//  buttonTextColor: #aaa,
//  buttonTextTransform: uppercase,
//  buttonTextHoverColor: #ddd,
//  buttonColor: #333,
//  buttonBorder: 1px solid #aaa,
//),
);

@function themes($key) {
    @if map-has-key($themes, $key) {
        @return map-get($themes, $key);
    }

    @warn "Unknown `#{$key}` in $themes.";
    @return null;
}

body {
   background-color: #36454F;
   margin: 0;
   padding: 0;
}