@import '../../themes/theme.scss';

table{
    font-family: themes(fontFamily);
    margin: 15px;
}

th {
    background-color: themes(backgroundColor);
}

tr {
    border-bottom: 1px solid themes(primaryColor);
    background-color: #fff;
}