@import '../../themes/theme.scss';

.Container {
    display: flex;
    align-items: center;
    font-family: themes(fontFamily);
    font-size: themes(fontSize);

}
.ProgressBar {
    margin-right: 5px;
    width: 400px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid themes(primary);
}