.Line {
    width: 100%;
    height: 2px;
    background-color: turquoise;
    position: relative;
    // top: -58px;
    // left: 52%
    -webkit-transform: rotate(75deg);
    /* WebKit */
    -moz-transform: rotate(75deg);
    /* Mozilla */
    -o-transform: rotate(75deg);
    /* Opera */
    -ms-transform: rotate(75deg);
    /* Internet Explorer */
    transform: rotate(75deg);
    /* CSS3 */
}